.card{
        
        margin-bottom: 5%;
        height: 400px;
        box-shadow: 7px 7px 10px #ccc;
}

.borderPurple{
    border-left: solid #4A148C 10px;
}
.borderPurple:hover{
    border-bottom: solid #4A148C 10px;
    border-top: solid #4A148C 10px;
    border-left: none;
}
.borderGreen{
    border-left: solid #76FF03 10px;
}
.borderGreen:hover{
    border-bottom: solid #76FF03 10px;
    border-top: solid #76FF03 10px;
    border-left: none;
}
.borderBlue{
    border-left: solid #006064 10px;
}
.borderBlue:hover{
    border-bottom: solid #006064 10px;
    border-top: solid #006064 10px;
    border-left: none;
}
.borderOrange{
    border-left: solid #FF3D00 10px;
}
.borderOrange:hover{
    border-bottom: solid #FF3D00 10px;
    border-top: solid #FF3D00 10px;
    border-left: none;
}
.borderRed{
    border-left: solid #F50057 10px;
}
.borderRed:hover{
    border-bottom: solid #F50057 10px;
    border-top: solid #F50057 10px;
    border-left: none;
}
.borderBlack{
    border-left: solid #4E342E 10px;
}
.borderBlack:hover{
    border-bottom: solid #4E342E 10px;
    border-top: solid #4E342E 10px;
    border-left: none;
}
.borderYellow{
    border-left: solid #FFEA00 10px;
}
.borderYellow:hover{
    border-bottom: solid #FFEA00 10px;
    border-top: solid #FFEA00 10px;
    border-left: none;
}

i{ vertical-align: middle !important; }

/*Profile card 2*/
    .profile-card-2 .card-img-block{
        float:left;
        width:100%;
        height:400px;
        overflow:hidden;
    }
    .profile-card-2 .card-body{
        position:relative;
    }
    .profile-card-2 .profile {
      border-radius: 50%;
      position: absolute;
      top: -32px;
      left: 90%;
      max-width: 60px;
      border: 3px solid rgba(255, 255, 255, 1);
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
    }
    .profile-card-2 h5{
        font-weight:600;
        color:black;
    }
    .profile-card-2 .card-text{
        font-weight:300;
        font-size:15px;
    }
    .profile-card-2 .icon-block{
        float:left;
        width:100%;
    }
    .profile-card-2 .icon-block a{
        text-decoration:none;
    }
    .profile-card-2 i {
      display: inline-block;
        font-size: 16px;
        color: #6ab04c;
        text-align: center;
        border: 1px solid #6ab04c;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin:0 5px;
    }
    .profile-card-2 i:hover {
      background-color:#6ab04c;
      color:#fff;
    }