<h4>{{ clasification }}</h4>
<hr>
<br>
<div class="container">
    <div class="card-columns" style="display:inline">
        <div class="card" *ngFor="let event of events; index as i" >
            <img class="card-img-top" src="{{urlImage+event.image}}" alt="Imagen evento" style="width:120px; padding: 20px;">
            <div class="card-body">
                <h5 class="card-title"> {{ event.title | titlecase }} </h5>
                <p class="card-text"> {{ event.date | date:'longDate' }}  </p>
                <p class="card-text">{{ event.date | date:'shortTime'}}</p>
                <p class="card-text"> {{ event.clasification | titlecase }} </p>
                <p class="card-text"> {{ event.type | titlecase }} </p>
                <a [routerLink]="['/eventos/detalle-evento', event._id]" routerLinkActive="router-link-active" class="btn btn-sm btn-primary" style="margin:2px;">📄 Ver detalles</a>
                <a [routerLink]="['/admin-panel/editar-evento', event._id]" routerLinkActive="router-link-active" class="btn btn-sm btn-warning" *ngIf="identity.role == 'ROLE_ADMIN'" style="margin:2px;">✏️ Editar</a>
                <!--
                <button class="btn btn-sm btn-secondary" *ngIf="identity.role == 'ROLE_USER'" style="margin:2px;"> <input type="checkbox" > ✔️ Asistiré</button>
                <button class="btn btn-sm btn-dark" *ngIf="identity.role == 'ROLE_USER'" style="margin:2px;"> <input type="checkbox" (click)="chekedFavorite()"> ⭐ Favoritos </button>
                -->
            </div>
        </div>
    </div>
</div>