
<div class="col-md-8 offset-2">
    <h3>{{title}}</h3>
    <hr>
    <!-- Mensajes de error al loguearse -->
    <br>
    <div class="alert alert-danger" *ngIf="error == 'password'">
        El usuario y/o contraseña que ingresaste son incorrectas. Vuelve a intentarlo.
    </div>
    <div class="alert alert-danger" *ngIf="error == 'noExiste'">
        El correo que ingresaste no está registrado. <br>
        Puedes <a [routerLink]="['/registro']">registrarte aqui</a>
    </div>

    <!-- Form-->
    <form #loginForm="ngForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="correo" hidden="hidden">Correo:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        📧  
                    </span>
                </div>
                <input type="correo" class="form-control" #email="ngModel" [(ngModel)]="user.email" 
                id="correo" name="correo" placeholder="Correo: nombre@correo.com" 
                required 
                pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                <strong>Correo</strong> no válido.
            </div>
        </div>
        
        <div class="form-group">
            <label for="password" hidden="hidden">Contraseña:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        🔐 
                    </span>
                </div>
                <input type="password" class="form-control" #password="ngModel" [(ngModel)]="user.pw" 
                id="password" name="password" placeholder="Contraseña" required pattern="[a-zA-Z0-9]{6}">
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="!password.valid && password.touched">
                La <strong>contraseña</strong> no es válida. Mínimo 6 caracteres (solo puedes usar letras y números)
            </div>
        </div>

        <input type="submit" value="Ingresar" class="btn btn-primary" [disabled]="!loginForm.form.valid">
    </form>
</div>