.image-user{
    width: 200px;
    height: 200px;
}

.jumbotron{
    margin: 5%;
}

.jumbotron-box{
    padding-left: 40%;
    padding-right: 40%;
}

.btn{
    align-items: center;
    align-content: center;
    align-self: center;
    box-align: center;
}